<% action = (album.persisted? ? album_url(album) : albums_url ) %>
<% method = (album.persisted? ? :patch : :post ) %>

<form action="<%= action %>" method="post">
  <input type="hidden" name="_method" value="<%= method %>">
  <input type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <label for="title">Title</label>
  <input type="text" name="album[name]" id="title">
  <br>

  <label for="band">Band</label>
  <select name=album[band_id] id="band">
    <% Band.all.each do |band| %>
    <option <%= "selected" if band.id == album.band_id %>
      value="<%= band.id %>">
      <%= band.name %>
    </option>
    <% end %>
  </select>
  <br>

  <input type="radio" name="album[album_type]" value="live" id="live">
  <label for="live">Live</label>
  <input type="radio" name="album[album_type]" value="studio" id="studio">
  <label for="studio">Studio</label>

  <br>
  <% submit_text = (album.persisted? ? "Update" : "Create") + " album" %>
  <input type="submit" value="<%= submit_text %>">
</form>
